{{ define "title"}}
404 | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main"}}
<h1>{{ i18n "not_found" }}</h1>
<p>{{ i18n "not_found_desc" }}</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/na47wMFfQCo?si=kf58avI01L3R7LFf"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{{ end }}
