@use "global";

// utils
@use "utils/variables";
@use "utils/fonts";

// components
@use "components/footer";
@use "components/header";
@use "components/post";
@use "components/social";

// pages
@use "pages/single";
@use "pages/list";
@use "pages/index";
@use "pages/baseof";

:root {
  --text-color: #fff;
  --font-family: 'Glory', sans-serif;
  --font-size: 76px;
  --font-weight: 800;
  --letter-spacing: 4px;

  /* Shadow offsets */
  --shadow-offset: 6px;
  --shadow-offset-large: 8px;
  --shadow-offset-x: calc(var(--shadow-offset) * -1);
  --shadow-offset-x-large: calc(var(--shadow-offset-large) * -1);
  --shadow-offset-xx: calc(var(--shadow-offset) * -2);
  --shadow-offset-xx-large: calc(var(--shadow-offset-large) * -2);

  /* Shadow colors */
  --shadow-color: rgba(166, 226, 46, 0.5);
  --shadow-color-light: rgba(166, 226, 46, 0.3);
  --header-animation-duration: .5s
}

html, ul {
  font-family: wotfardregular, sans-serif;
  font-weight: 400;
}

li:not(:last-child) {
  margin-bottom: 12px;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: wotfardregular, "sans-serif";
  font-weight: 600;
  color: #a6e22e;
  margin-top: 48px;
}

.content {
  padding: 20px;
}

.headerLinks ul {
  display: flex;
  font-size: 16px;
  gap: 16px;
}

.postWrapper {
  padding: 0;

  @media screen and (max-width: 768px) {
    padding: 16px;
  }
}

.postWrapper img {
  border-radius: 16px;
  max-width: fit-content;
  object-fit: contain;
  width: 75%;
  display: block;
  margin: 2em auto;
}

.postHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.postTitle {
  font-family: wotfardregular, "sans-serif";
}

p {
  font-family: wotfardregular, "sans-serif";
  font-weight: 400;
  line-height: 1.5;
}

.content {
  font-size: 1.2rem;
}

.token.operator {
  background: transparent !important;
}

pre {
  background-color: unset !important;
}

.postMetadata {
  display: none;
}

.indexHeader {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  text-shadow: var(--shadow-offset-x) var(--shadow-offset-x) 0 var(--shadow-color),
  var(--shadow-offset-xx) var(--shadow-offset-xx) 0 var(--shadow-color-light);
}

