@use "../utils/variables" as v;

.post-date {
  float: right;
  color: v.$white;
}

.post-title {
  
  @include v.primary-color;

  text-decoration: none;
  text-transform: capitalize;
  font-family: v.$fontHeader;
  font-size: 1.2em;
  float: left;
}

.post-header {
  overflow: hidden;
}

.posts-list {
  margin-top: 20px;
}

.post-list-item {
  padding: 20px;
  background-color: v.$black;
  margin-bottom: 20px;
  border-radius: 12px;
}

.post-list-link:hover {
  text-decoration: none;
}

.post-excerpt {
  text-align: initial;
  text-decoration: none;
  color: v.$white;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.no-decoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:active{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
