<style>
    @font-face {
        font-family: 'wotfardregular';
        src: url('/fonts/wotfard-regular-webfont.eot');
        src: url('/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/wotfard-regular-webfont.woff2') format('woff2'),
        url('/fonts/wotfard-regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    html, ul {
        font-family: wotfardregular, sans-serif;
        font-weight: 400;
    }

    li:not(:last-child) {
        margin-bottom: 12px;
    }

    strong {
        font-weight: 600;
    }

    h1, h2, h3, h4 {
        font-family: wotfardregular, "sans-serif";
        font-weight: 600;
        color: #a6e22e;
        margin-top: 48px;
    }

    .content {
        padding: 20px;
    }

    .headerLinks ul {
        display: flex;
        font-size: 16px;
        gap: 16px;

        @media screen and (max-width: 768px) {
            font-size: 32px;
        }
    }

    .postWrapper {
        padding: 0;
    }

    .postWrapper img {
        border-radius: 16px;
        max-width: fit-content;
        object-fit: contain;
        width: 90%;
        display: block;
        margin: 2em auto;
    }

    .postHeader {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
    }

    .postTitle {
        font-family: wotfardregular, "sans-serif";
    }

    p {
        font-family: wotfardregular, "sans-serif";
        font-weight: 400;
        line-height: 1.5;
    }

    .content {
        font-size: 1.2rem;
    }

    .token.operator {
        background: transparent !important;
    }

    pre {
        background-color: unset !important;
    }

    .postMetadata {
        display: none;
    }

    .indexHeader {
        color: #fff;
        font-family: 'Glory', sans-serif;
        font-size: 76px;
        font-weight: 800;
        letter-spacing: 4px;
        text-shadow: calc(-6px * -1) calc(-6px * -1) 0px rgba(166, 226, 46, 0.7),
        calc(-6px * -2) calc(-6px * -2) 0 rgba(166, 226, 46, 0.5);
    }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178959108-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-178959108-1');
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/dracula-prism/dist/css/dracula-prism.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-json.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-jsx.min.js"></script>


<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function () {
        var mainElements = document.getElementsByClassName('main');

        if (mainElements.length > 0 && window.location.href.match("/post/.+")) {
            var scriptTag = document.createElement('script');
            scriptTag.type = 'text/javascript';
            scriptTag.src = 'https://utteranc.es/client.js';
            scriptTag.setAttribute('repo', 'lemick/blog-comments');
            scriptTag.setAttribute('issue-term', 'url');
            scriptTag.setAttribute('theme', 'github-dark');
            scriptTag.setAttribute('crossorigin', 'anonymous');
            scriptTag.async = true;

            mainElements[0].appendChild(scriptTag);
        }
    });
</script>
