<style>
    @font-face {
        font-family: 'wotfardregular';
        src: url('/fonts/wotfard-regular-webfont.eot');
        src: url('/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/wotfard-regular-webfont.woff2') format('woff2'),
        url('/fonts/wotfard-regular-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    html {
        font-family: wotfard, sans-serif;
        font-weight: 300;
        line-height: 1.5;
    }

    h1, h2, h3, h4 {
        font-family: wotfardregular, "sans-serif";
        font-weight: 600;
        color: #a6e22e;
    }

    .postHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .postTitle {
        font-family: wotfardregular, "sans-serif";
    }

    p {
        font-family: wotfardregular, "sans-serif";
        font-weight: 400;
    }

    .content {
        font-size: 1.2rem;
    }

    .token.operator {
        background: transparent !important;
    }

    pre {
        background-color: unset !important;
    }

    .postMetadata {
        display: none;
    }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178959108-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178959108-1');
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" />
<link rel="stylesheet" href="https://unpkg.com/dracula-prism/dist/css/dracula-prism.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-json.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.min.js"></script>

<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function () {
        var mainElements = document.getElementsByClassName('main');

        if (mainElements.length > 0 && window.location.href.match("/post/.+")) {
            var scriptTag = document.createElement('script');
            scriptTag.type = 'text/javascript';
            scriptTag.src = 'https://utteranc.es/client.js';
            scriptTag.setAttribute('repo', 'lemick/blog-comments');
            scriptTag.setAttribute('issue-term', 'url');
            scriptTag.setAttribute('theme', 'github-dark');
            scriptTag.setAttribute('crossorigin', 'anonymous');
            scriptTag.async = true;

            mainElements[0].appendChild(scriptTag);
        }
    });
</script>
